# Python Lists

In [2]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list)          # Prints complete list
print (list[0])       # Prints first element of the list
print (list[1:3])     # Prints elements starting from 2nd till 3rd 
print (list[2:])      # Prints elements starting from 3rd element
print (tinylist * 2)  # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

# Python Tuples

In [3]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2 )
tinytuple = (123, 'john')

print (tuple)                 # Prints the complete tuple
print (tuple[0])            # Prints first element of the tuple
print (tuple[1:3])          # Prints elements of the tuple starting from 2nd till 3rd 
print (tuple[2:])           # Prints elements of the tuple starting from 3rd element
print (tinytuple * 2)       # Prints the contents of the tuple twice
print (tuple + tinytuple)

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

# Conditional Statements

In [6]:
x = 41
if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [7]:
mark=float(input("Enter a number: "))
if (mark>=80 and mark <=100):
    print("A+")
elif(mark>=75 and mark<80):
    print("A")
elif(mark>=70 and mark<75):
    print("A-")
elif(mark>=65 and mark<70):
    print("B")
elif(mark>=60 and mark<65):
    print("C")
elif(mark>=55 and mark<60):
    print("D")
else:
    print("Falied")

Enter a number: 56
D

In [11]:
mark=float(input("Enter a number: "))
if (mark>100):
    print("Invalid!!")
else:
    if (mark>=80 and mark <=100):
        print("A+")
    elif (mark>=75 and mark<80):
        print("A")
    elif(mark>=70 and mark<75):
        print("A-")
    elif(mark>=65 and mark<70):
        print("B")
    elif(mark>=60 and mark<65):
        print("C")
    elif(mark>=55 and mark<60):
        print("D")
    else:
        print("Failed")

Enter a number: 20
Failed

In [12]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [13]:
a=[8,6,5.90,"ABC",44]
for i in a:
    print(i)

8
6
5.9
ABC
44

# python function

In [12]:
def Addition(x,y):
    c=x+y;
    return c;

print(Addition(5,6))
Addition(10,20)

11

30

In [15]:
x=50;
if(x%2==0):
    print("Even")
else:
    print("Odd")

Even

In [16]:
def Odd_Even(n):
    if(n%2==0):
        print("Even")
    else:
        print("Odd")
               
Odd_Even(50)

Even